.app {
  display: flex;
  min-height: 100vh; }
  .app__sidebar {
    width: 300px; }
    @media screen and (max-width: 767px) {
      .app__sidebar {
        display: none; } }
  .app__main {
    flex: 1;
    background-color: #E9E9E9; }
    @media screen and (max-width: 767px) {
      .app__main {
        margin-top: 60px; } }
  @media screen and (max-width: 767px) {
    .app {
      flex-direction: column; } }
