@import '../base/_variables.scss';
.app {
  display: flex;
  min-height: 100vh;

  &__sidebar {
    width: 300px;   

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__main {
    flex: 1;
    background-color: $mercury;

    @media screen and (max-width: 767px) {
      margin-top: 60px;
    }
  }

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}
