button {
  border: none;
  border-radius: 8px;
  background-color: #6FCF97;
  color: #FFFFFF;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 42px;
  padding: 0px 20px;
  outline: 0; }
  button:hover, button:active {
    filter: brightness(90%); }
  button:active {
    transform: translateY(1px);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.3); }
