@import '../base/_variables.scss';
button {
  border: none;
  border-radius: 8px;
  background-color: $de-york;
  color: $white;
  box-shadow: 0px 3px rgba(0, 0, 0, 0.2);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 42px;
  padding: 0px 20px;
  outline: 0;

  &:hover,
  &:active {
    filter: brightness(90%);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0px 2px rgba(0, 0, 0, 0.3);
  }
}