.category-filter {
  padding: 16px;
  text-align: center;
  background: #191a1b; }
  .category-filter__item {
    border: 0;
    padding: 4px 8px;
    color: whitesmoke;
    background: transparent;
    -webkit-appearance: initial;
    text-transform: uppercase;
    border-bottom: 2px solid transparent; }
    .category-filter__item--active {
      color: red;
      border-bottom: 2px solid red; }
