.checkbox {
  cursor: pointer;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: #FFFFFF;
  margin: 0 10px 0 0;
  vertical-align: middle;
  outline: none; }
  .checkbox:checked {
    background-color: #A84C65; }
    .checkbox:checked::after {
      content: '';
      margin: 0 3px;
      height: 6px;
      width: 12px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      transform: rotate(-45deg);
      display: inline-block;
      color: #FFFFFF; }
