.chip {
  padding: 8px;
  border-radius: 32px;
  max-width: 64px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  text-align: center;

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  }
}
