@import '../base/_variables.scss';

.extra-field {
  display: flex;

  .extra-details {
    flex: 1;
    display: flex;

    &__name {
      color: $emperor;
      font-size: 14px;
      font-weight: 600;
    }

    &__price {
      color: $de-york;
      font-weight: 900;
      margin-left: auto;
    }
  }
}
