.extra-field {
  display: flex; }
  .extra-field .extra-details {
    flex: 1;
    display: flex; }
    .extra-field .extra-details__name {
      color: #4F4F4F;
      font-size: 14px;
      font-weight: 600; }
    .extra-field .extra-details__price {
      color: #6FCF97;
      font-weight: 900;
      margin-left: auto; }
