.product-form {
  padding: 15px 10px 0;
  overflow: auto; }
  .product-form button {
    float: right;
    margin-bottom: 15px; }
  .product-form .text-field {
    margin-bottom: 15px; }
  .product-form__title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
    border-bottom: 2px solid #E0E0E0;
    margin: 0 0 15px 0; }

.extras-container {
  overflow: hidden; }
  .extras-container__details:not(:last-child) {
    border-bottom: 2px solid #E0E0E0;
    margin-bottom: 15px; }
  .extras-container__addButton {
    font-size: 14px;
    line-height: 30px; }
