@import '../base/_variables.scss';

.product-card {
  cursor: pointer;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  display: flex;
  width: 400px;
  height: 150px;
  border-radius: 16px;
  margin-bottom: 10px;

  &__image {
    width: 150px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: gray;
  }

  &__information {
    padding: 16px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
    flex: 1;

    &__title {
      text-align: center;
      font-family: 'Fira Sans', sans-serif;
      size: 22px;
      font-weight: 900;
      text-transform: uppercase;
      color: $cadillac;
    }

    &__description {
      flex: 1 1 80px;
      margin-top: 8px;
      size: 14px;
      text-transform: uppercase;
    }

    &__price {
      color: $de-york;
      font-weight: bold;
      margin-left: auto;
    }
  }
}
