@import '../base/_variables.scss';

.product-form {
  padding: 15px 10px 0;
  overflow: auto;

  button {
    float: right;
    margin-bottom: 15px;
  }

  .text-field {
    margin-bottom: 15px;
  }

  &__title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 8px;
    text-transform: uppercase;
    border-bottom: 2px solid $alto;
    margin: 0 0 15px 0;
  }
}

.extras-container {  
  overflow: hidden;

  &__details {
    &:not(:last-child) {
      border-bottom: 2px solid $alto;
      margin-bottom: 15px;
    }  
  }
  
  &__addButton {
    font-size: 14px;
    line-height: 30px;
  }
  
}