.product-card {
  cursor: pointer;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: flex;
  width: 400px;
  height: 150px;
  border-radius: 16px;
  margin-bottom: 10px; }
  .product-card__image {
    width: 150px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: gray; }
  .product-card__information {
    padding: 16px; }
  .product-card .product-details {
    display: flex;
    flex-direction: column;
    flex: 1; }
    .product-card .product-details__title {
      text-align: center;
      font-family: 'Fira Sans', sans-serif;
      size: 22px;
      font-weight: 900;
      text-transform: uppercase;
      color: #A84C65; }
    .product-card .product-details__description {
      flex: 1 1 80px;
      margin-top: 8px;
      size: 14px;
      text-transform: uppercase; }
    .product-card .product-details__price {
      color: #6FCF97;
      font-weight: bold;
      margin-left: auto; }
