@import '../base/_variables.scss';
$mobile-menu-height: 60px;

.sidebar {
  background-color: $shark;
  z-index: 999;

  &__logo {
    text-align: center;
    padding: 16px 0;
    height: 150px;
  }

  &__items {
    list-style: none;
    padding: 0;
  }

  &__expand-sidebar {
    display: none;
    color: $wewak;
    font-size: 40px;
    margin-right: 10px;
    line-height: $mobile-menu-height;
  }
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: block;
    width: 100%;
    position: fixed;

    &__mobile-content {
      height: $mobile-menu-height;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__logo {
      height: $mobile-menu-height - 10;
      padding: 0;
      margin-left: 10px;

      img {
        height: inherit;
      }
    }
    
    &__items {
      display: none;
    }

    &__expand-sidebar {
      display: block;
    }
  }
}

.show {
  display: block;
}