.sidebar {
  background-color: #2A2B30;
  z-index: 999; }
  .sidebar__logo {
    text-align: center;
    padding: 16px 0;
    height: 150px; }
  .sidebar__items {
    list-style: none;
    padding: 0; }
  .sidebar__expand-sidebar {
    display: none;
    color: #F2AAB6;
    font-size: 40px;
    margin-right: 10px;
    line-height: 60px; }

@media screen and (max-width: 767px) {
  .sidebar {
    display: block;
    width: 100%;
    position: fixed; }
    .sidebar__mobile-content {
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
    .sidebar__logo {
      height: 50px;
      padding: 0;
      margin-left: 10px; }
      .sidebar__logo img {
        height: inherit; }
    .sidebar__items {
      display: none; }
    .sidebar__expand-sidebar {
      display: block; } }

.show {
  display: block; }
