@import '../base/_variables.scss';
.sidebar-item {
  text-transform: uppercase;
  
  &:hover {
    text-decoration: none;
  }

  &--active {
    .sidebar-item {
      &__content {
        border-left: 2px solid $cadillac;
      }
    }
  }

  &__content {
    padding: 16px;
    transition: background-color 250ms ease-in;
    border-left: 2px solid transparent;
    font-weight: 700;
    color: $white;

    &:hover {      
      background-color: rgba($black, 0.1);
    }
  }
}
