.sidebar-item {
  text-transform: uppercase; }
  .sidebar-item:hover {
    text-decoration: none; }
  .sidebar-item--active .sidebar-item__content {
    border-left: 2px solid #A84C65; }
  .sidebar-item__content {
    padding: 16px;
    transition: background-color 250ms ease-in;
    border-left: 2px solid transparent;
    font-weight: 700;
    color: #FFFFFF; }
    .sidebar-item__content:hover {
      background-color: rgba(0, 0, 0, 0.1); }
