.text-field {
  display: flex;
  flex-direction: column; }
  .text-field__error {
    color: rgba(255, 0, 0, 0.75);
    font-size: 14px;
    text-align: left; }
  .text-field__field {
    flex: 1;
    background-color: #FFFFFF;
    padding: 8px;
    border: 2px solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    line-height: 30px;
    outline: none;
    transition: 0.5s; }
  .text-field--error {
    border-color: rgba(255, 0, 0, 0.25); }
  .text-field:focus {
    border-color: rgba(0, 0, 0, 0.5); }
