@import '../base/_variables.scss';

.text-field {
  display: flex;
  flex-direction: column;

  &__error {
    color: rgba(red, 0.75);
    font-size: 14px;
    text-align: left;
  }

  &__field {
    flex: 1;
    background-color: $white;
    padding: 8px;
    border: 2px solid;
    border-color: rgba($color: $black, $alpha: 0.25);
    border-radius: 6px;
    line-height: 30px;
    outline: none;
    transition: 0.5s;
  }

  &--error {
    border-color: rgba(red, 0.25);
  }

  &:focus {
    border-color: rgba(0, 0, 0, 0.5);
  }
}
