* {
  font-family: sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

a {
  text-decoration: none;
  outline: none;

  &:visited {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}
