// Theme colors
$wewak: #F2AAB6;
$cadillac: #A84C65;
$blue-charcoal: #011126;
$blue-lagoon: #01728F;
$bondi-blue: #0494A6;

// General colors
$white: #FFFFFF;
$black: #000000;
$shark: #2A2B30;
$emperor: #4F4F4F;
$mercury: #E9E9E9;
$alto: #E0E0E0;
$de-york: #6FCF97;
$silver: #BDBDBD;
