@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,800");
* {
  font-family: sans-serif; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%; }

a {
  text-decoration: none;
  outline: none; }
  a:visited {
    color: initial;
    text-decoration: none; }
  a:hover {
    text-decoration: underline; }
