.create-product {
  margin: 10px auto;
  max-width: 850px;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2); }
  .create-product h1 {
    margin: 0; }
