@import '../base/_variables.scss';

.edit-product {
  margin: 10px auto;
  max-width: 850px;
  font-size: 14px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba($color: $black, $alpha: 0.2),
              0 1px 3px rgba($color: $black, $alpha: 0.2);

    h1 {
      margin: 0;
    }
}