@import '../base/_variables.scss';

.home {
  max-width: 830px;
  margin: 10px auto;
  padding: 0 10px;

  .products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
