@import '../base/_variables.scss';

.login {
  margin: 10px auto;
  max-width: 350px;
  padding: 15px 0px;
  box-shadow: 0 1px 3px rgba($color: $black, $alpha: 0.2),
              0 1px 3px rgba($color: $black, $alpha: 0.2);
  text-align: center;
  border-radius: 5px;
  
  &__logo {
    margin-bottom: 15px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  
    > * {
      flex: 0 0 280px;
      margin-bottom: 15px;
    }

    > input {
      padding: 0 5px;
      max-width: 266px;
    }
  }
}