@import '../base/_variables.scss';

.product-details {
  height: fit-content;
  margin: 0 auto;
  max-width: 820px;
  font-size: 14px;
  padding: 15px;

  .details {
    &__category {
      font-size: 12px;
      color: $cadillac;
      font-weight: bold;
      text-transform: uppercase;

      &::after {
        content: '//';
      }
    }

    &__name {
      color: $emperor;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 12px;
      text-transform: uppercase;
    }

    &__description {
      flex: 1;
      line-height: 1.5;
      margin-bottom: 12px;
    }

    &__price {
      color: $de-york;
      font-size: 24px;
      font-weight: bold;
      margin-left: auto;
    }
  }

  .details-container {
    display: flex;

    &__main {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      min-width: 250px;

      @media only screen and (max-width: 820px) {
        margin-left: 0;
        margin-top: 16px;
      }
    }

    &__thumbnail {
      flex: 0 0 250px;
      height: 250px;
      width: 250px;
      
      @media only screen and (max-width: 820px) {
        width: 100%;
        height: 250px;
      }
      
      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }
    }
  }

  .extras-container {
    display: flex;
    flex-direction: column;

    &__title {
      flex: 1;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 8px;
      text-transform: uppercase;
      border-bottom: 2px solid $alto;
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    &__items {
      margin-top: 32px;
      padding-left: 16px;
    }
  }

  .total-container {
    display: flex;
    flex-direction: column;

    &__title {
      flex: 1;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 8px;
      text-transform: uppercase;
      border-bottom: 2px solid $alto;
    }

    &__content {
      flex: 1;
      margin-top: 12px;
      margin-left: auto;
    }
  }

  .order-total {
    display: flex;
    color: $silver;

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__product {
      color: $silver;
      font-size: 24px;
      font-weight: bold;
    }

    &__extras {
      margin-left: auto;
      font-weight: 900;

      &:before {
        content: '+';
        margin-right: 4px;
      }
    }

    &__total {
      align-self: center;
      color: $de-york;
      font-size: 24px;
      font-weight: bold;
      margin-left: auto;

      &:before {
        content: '=';
        margin: 0 12px;
      }
    }
  }

  .order-actions {
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 15px;
    }

    &__item {
      margin-bottom: 5px;
    }
  }

  &__section {
    display: flex;
    flex-wrap: wrap;

    &:not(:last-child) {
      margin-bottom: 48px;
    }
  }
}
