.product-details {
  height: fit-content;
  margin: 0 auto;
  max-width: 820px;
  font-size: 14px;
  padding: 15px; }
  .product-details .details__category {
    font-size: 12px;
    color: #A84C65;
    font-weight: bold;
    text-transform: uppercase; }
    .product-details .details__category::after {
      content: '//'; }
  .product-details .details__name {
    color: #4F4F4F;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    text-transform: uppercase; }
  .product-details .details__description {
    flex: 1;
    line-height: 1.5;
    margin-bottom: 12px; }
  .product-details .details__price {
    color: #6FCF97;
    font-size: 24px;
    font-weight: bold;
    margin-left: auto; }
  .product-details .details-container {
    display: flex; }
    .product-details .details-container__main {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin-left: 16px;
      min-width: 250px; }
      @media only screen and (max-width: 820px) {
        .product-details .details-container__main {
          margin-left: 0;
          margin-top: 16px; } }
    .product-details .details-container__thumbnail {
      flex: 0 0 250px;
      height: 250px;
      width: 250px; }
      @media only screen and (max-width: 820px) {
        .product-details .details-container__thumbnail {
          width: 100%;
          height: 250px; } }
      .product-details .details-container__thumbnail img {
        width: 100%;
        height: 100%;
        border-radius: 5px; }
  .product-details .extras-container {
    display: flex;
    flex-direction: column; }
    .product-details .extras-container__title {
      flex: 1;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 8px;
      text-transform: uppercase;
      border-bottom: 2px solid #E0E0E0; }
    .product-details .extras-container__item:not(:last-child) {
      margin-bottom: 16px; }
    .product-details .extras-container__items {
      margin-top: 32px;
      padding-left: 16px; }
  .product-details .total-container {
    display: flex;
    flex-direction: column; }
    .product-details .total-container__title {
      flex: 1;
      font-size: 18px;
      font-weight: bold;
      padding-bottom: 8px;
      text-transform: uppercase;
      border-bottom: 2px solid #E0E0E0; }
    .product-details .total-container__content {
      flex: 1;
      margin-top: 12px;
      margin-left: auto; }
  .product-details .order-total {
    display: flex;
    color: #BDBDBD; }
    .product-details .order-total__info {
      display: flex;
      flex-direction: column; }
    .product-details .order-total__product {
      color: #BDBDBD;
      font-size: 24px;
      font-weight: bold; }
    .product-details .order-total__extras {
      margin-left: auto;
      font-weight: 900; }
      .product-details .order-total__extras:before {
        content: '+';
        margin-right: 4px; }
    .product-details .order-total__total {
      align-self: center;
      color: #6FCF97;
      font-size: 24px;
      font-weight: bold;
      margin-left: auto; }
      .product-details .order-total__total:before {
        content: '=';
        margin: 0 12px; }
  .product-details .order-actions {
    display: flex;
    justify-content: flex-end; }
    .product-details .order-actions button {
      margin-left: 15px; }
    .product-details .order-actions__item {
      margin-bottom: 5px; }
  .product-details__section {
    display: flex;
    flex-wrap: wrap; }
    .product-details__section:not(:last-child) {
      margin-bottom: 48px; }
