.register {
  margin: 10px auto;
  max-width: 350px;
  padding: 15px 0px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 5px; }
  .register__logo {
    margin-bottom: 15px; }
  .register__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .register__form > * {
      flex: 0 0 280px;
      margin-bottom: 15px; }
    .register__form > input {
      padding: 0 5px;
      max-width: 266px; }
